<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Routes</title>
    <script>
        function get_city(){
        document.getElementById('next').href = document.getElementById('city').value
        }
    </script>
</head>
<body>
    <h1>Choose from available cities and generate json file</h1>
        <select id="city" onchange="get_city()">
          {%for city in cities%}
            <option value="{{url_for('route', city_name=city.city_name)}}">{{city.city_name}}</option>
          {%endfor%}
        </select>
    <br/>
    <br>
    <button>
        <a id="next" href="{{url_for('route', city_name='Wrocław')}}" >Get routes for chosen city</a>
    </button>
    </br>
    <br>
    <button>
        <a href="{{url_for('welcome')}}">Home</a>
    </button>
    </br>
</body>
</html>